## Momentum Investing Strategy
Select 50 stocks with highest price momentum

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import requests
import xlsxwriter
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

In [3]:
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [4]:
# Check one year price return of each stocks
symbol = 'AAPL'

# Making API call
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()

In [5]:
data

{'companyName': 'Apple Inc',
 'marketcap': 2097128304209,
 'week52high': 147.75,
 'week52low': 61.9,
 'week52highSplitAdjustOnly': 145.15,
 'week52lowSplitAdjustOnly': 62.79,
 'week52change': 1.084544766171328,
 'sharesOutstanding': 17464332404,
 'float': 0,
 'avg10Volume': 91347727,
 'avg30Volume': 110271034,
 'day200MovingAvg': 125.03,
 'day50MovingAvg': 127.2,
 'employees': 148971,
 'ttmEPS': 3.8,
 'ttmDividendRate': 0.8305168988341337,
 'dividendYield': 0.00671299555723256,
 'nextDividendDate': '0',
 'exDividendDate': '2021-02-05',
 'nextEarningsDate': '2021-04-15',
 'peRatio': 33.708200375215014,
 'beta': 1.22634337135288,
 'maxChangePercent': 47.17345080511124,
 'year5ChangePercent': 3.9340186099729686,
 'year2ChangePercent': 1.5858760203029942,
 'year1ChangePercent': 1.073362438850549,
 'ytdChangePercent': -0.0743715105065795,
 'month6ChangePercent': 0.09615122350321062,
 'month3ChangePercent': -0.05028164558236482,
 'month1ChangePercent': 0.024511677026558668,
 'day30ChangePercent': 0.01309625787065459,
 'day5ChangePercent': 0.014873173673058859}

### Executing batch API call to IEX for fetching all stock data

In [6]:
def get_chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [7]:
symbol_groups = list(get_chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    print(symbol_strings[i])
    
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

final_dataframe = pd.DataFrame(columns = my_columns)

A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA
CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD
GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP
MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK
ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL
YUM,ZBH,ZBRA,ZION,ZTS

In [8]:
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, One-Year Price Return, Number of Shares to Buy]
Index: []

In [9]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)

In [10]:
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  133.72              0.835062                     N/A
1      AAL   24.96               1.58239                     N/A
2      AAP  193.85               1.21173                     N/A
3     AAPL  126.00               1.06123                     N/A
4     ABBV  109.72              0.570581                     N/A
..     ...     ...                   ...                     ...
500    YUM  114.00              0.804004                     N/A
501    ZBH  163.00              0.768609                     N/A
502   ZBRA  513.62                1.7725                     N/A
503   ZION   56.63               1.39056                     N/A
504    ZTS  164.33              0.398961                     N/A

[505 rows x 4 columns]

In [11]:
# Removing Low Momentum Stocks
final_dataframe.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_dataframe = final_dataframe[:51]
final_dataframe.reset_index(drop = True, inplace = True)
final_dataframe

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   63.30               4.60961                     N/A
1     FCX   34.50               4.50302                     N/A
2     GPS   31.14               4.32761                     N/A
3     KSS   59.78               4.18923                     N/A
4     MGM   41.30                 2.878                     N/A
5    VIAC   46.01               2.79508                     N/A
6     TPR   41.52               2.74323                     N/A
7     URI  342.20               2.70618                     N/A
8    EXPE  180.54               2.68329                     N/A
9     RCL   87.46               2.60858                     N/A
10   SIVB  490.22               2.57801                     N/A
11   ALGN  560.96               2.57233                     N/A
12    IVZ   26.26                2.5283                     N/A
13    DFS   98.50               2.51866                     N/A
14   AMAT  147.69               2.41359                     N/A
15    PVH  103.86               2.34732                     N/A
16    SYF   42.98               2.32421                     N/A
17   NCLH   27.85                2.3126                     N/A
18    MRO   12.31               2.31171                     N/A
19    MHK  202.95               2.30532                     N/A
20    DRI  150.94               2.29897                     N/A
21     GM   58.60               2.28722                     N/A
22   APTV  143.21               2.27415                     N/A
23    MOS   31.95                2.2676                     N/A
24   NWSA   27.01               2.25497                     N/A
25    LEN  106.47               2.21399                     N/A
26    CCL   26.91               2.19096                     N/A
27    COF  136.12               2.12727                     N/A
28   LRCX  656.90               2.05987                     N/A
29    DVN   24.00                2.0311                     N/A
30    NWS   24.00               2.02058                     N/A
31    MPC   57.30               1.98306                     N/A
32    PWR   93.04               1.97183                     N/A
33   FITB   39.85               1.95742                     N/A
34      F   12.33               1.95267                     N/A
35    ALB  153.75               1.93534                     N/A
36    HAL   22.24               1.91417                     N/A
37    HBI   19.79               1.91142                     N/A
38    DHI   94.89               1.87886                     N/A
39    PHM   54.04               1.87617                     N/A
40    LNC   64.90               1.86064                     N/A
41    WHR  232.40               1.85395                     N/A
42     PH  317.77               1.84597                     N/A
43    CFG   46.54               1.83361                     N/A
44   TWTR   65.09               1.83316                     N/A
45   FBHS   97.74               1.83032                     N/A
46    ALK   72.07               1.82793                     N/A
47     DE  378.32                1.8167                     N/A
48    CMA   74.03                1.8156                     N/A
49   ZBRA  513.62                1.7725                     N/A
50   KLAC  363.17               1.75995                     N/A

In [13]:
# Calculating Number of shares to Buy
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio : ")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again!")
        portfolio_size = input("Enter the value of your portfolio : ")

In [14]:
portfolio_input()
print(portfolio_size)

Enter the value of your portfolio : 100000
100000

In [15]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   63.30               4.60961                      30
1     FCX   34.50               4.50302                      56
2     GPS   31.14               4.32761                      62
3     KSS   59.78               4.18923                      32
4     MGM   41.30                 2.878                      47
5    VIAC   46.01               2.79508                      42
6     TPR   41.52               2.74323                      47
7     URI  342.20               2.70618                       5
8    EXPE  180.54               2.68329                      10
9     RCL   87.46               2.60858                      22
10   SIVB  490.22               2.57801                       3
11   ALGN  560.96               2.57233                       3
12    IVZ   26.26                2.5283                      74
13    DFS   98.50               2.51866                      19
14   AMAT  147.69               2.41359                      13
15    PVH  103.86               2.34732                      18
16    SYF   42.98               2.32421                      45
17   NCLH   27.85                2.3126                      70
18    MRO   12.31               2.31171                     159
19    MHK  202.95               2.30532                       9
20    DRI  150.94               2.29897                      12
21     GM   58.60               2.28722                      33
22   APTV  143.21               2.27415                      13
23    MOS   31.95                2.2676                      61
24   NWSA   27.01               2.25497                      72
25    LEN  106.47               2.21399                      18
26    CCL   26.91               2.19096                      72
27    COF  136.12               2.12727                      14
28   LRCX  656.90               2.05987                       2
29    DVN   24.00                2.0311                      81
30    NWS   24.00               2.02058                      81
31    MPC   57.30               1.98306                      34
32    PWR   93.04               1.97183                      21
33   FITB   39.85               1.95742                      49
34      F   12.33               1.95267                     159
35    ALB  153.75               1.93534                      12
36    HAL   22.24               1.91417                      88
37    HBI   19.79               1.91142                      99
38    DHI   94.89               1.87886                      20
39    PHM   54.04               1.87617                      36
40    LNC   64.90               1.86064                      30
41    WHR  232.40               1.85395                       8
42     PH  317.77               1.84597                       6
43    CFG   46.54               1.83361                      42
44   TWTR   65.09               1.83316                      30
45   FBHS   97.74               1.83032                      20
46    ALK   72.07               1.82793                      27
47     DE  378.32                1.8167                       5
48    CMA   74.03                1.8156                      26
49   ZBRA  513.62                1.7725                       3
50   KLAC  363.17               1.75995                       5

### Build more realistic Momentum Strategy

In [16]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

In [17]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

In [22]:
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,132.50,N/A,0.825904,N/A,0.294562,N/A,0.079422,N/A,0.115318,N/A,N/A
1,AAL,24.35,N/A,1.57578,N/A,0.871522,N/A,0.602734,N/A,0.128538,N/A,N/A
2,AAP,188.06,N/A,1.21892,N/A,0.204465,N/A,0.189213,N/A,0.128078,N/A,N/A
3,AAPL,128.00,N/A,1.08314,N/A,0.093978,N/A,-0.0502324,N/A,0.0242267,N/A,N/A
4,ABBV,109.97,N/A,0.560498,N/A,0.305948,N/A,0.0434162,N/A,0.0282737,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,111.10,N/A,0.782633,N/A,0.165629,N/A,0.0433724,N/A,0.0622553,N/A,N/A
501,ZBH,165.00,N/A,0.769288,N/A,0.171908,N/A,0.0476977,N/A,0.0262877,N/A,N/A
502,ZBRA,505.22,N/A,1.77526,N/A,0.903023,N/A,0.315265,N/A,0.0264183,N/A,N/A
503,ZION,56.62,N/A,1.37759,N/A,0.900927,N/A,0.303255,N/A,0.0279499,N/A,N/A
504,ZTS,162.61,N/A,0.396,N/A,-0.0348176,N/A,-0.034878,N/A,0.100859,N/A,N/A